.login-block {
  margin: auto;
  width: 50%;
  padding: 10px;
  padding-top: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  box-shadow: 2px;
}
.mat-raised-button{
  padding: 6px 52px;
  font-size: 19px;
}
.login-input-full-width{
  width: 100%;
}

h3{
  text-align: center;
}