.movie-thumbnail{
    width: 300px;
    margin: 10px;
   
}
.movie-overview
{
    height:80px;
    overflow-x: hidden;
    overflow-y: auto;
}
.movie-image{
    height:400px;
}
.movie-overview::-webkit-scrollbar{
    width: 2px;
    background: gray;
}
.movie-actions{
    text-align: right;
    
}