.player-thumbnail{
    width : 350px;
    margin : 20px;
    margin-top: 10px;
    margin-right: 10px;
   
}
.player-overview
{
    overflow-x: hidden;
   
    
     width : 350px;
    
     justify-content: newspaper;
}


.playerName{
    width : 250px; 
    height : 50px;
 
 }
 /* .player-actions{
    text-align: center;
} */