<app-auth-nav></app-auth-nav>
   
  <mat-card>
    <form class="register-form" #registerForm="ngForm" >
        <div class="register-block ">
          <div class="row">
            <h3>Register User</h3>
          </div>
          <div class="row">
            <mat-form-field class="register-input-full-width">
              <input id="firstName" matInput placeholder="firstName" [(ngModel)]="newUser.firstName" name="firstName" required
                #firstName="ngModel">
              <mat-error *ngIf="firstName.invalid">firstName is mandatory</mat-error>
            </mat-form-field>

            <mat-form-field class="register-input-full-width">
                <input id="lastName" matInput placeholder="lastName" [(ngModel)]="newUser.lastName" name="lastName" required
                  #lastName="ngModel">
                <mat-error *ngIf="lastName.invalid">lastName is mandatory</mat-error>
              </mat-form-field>

            <mat-form-field class="register-input-full-width">
              <input id="userId" matInput placeholder=" userId" [(ngModel)]="newUser.userId" name="userId" required minlength="5"
                #userId="ngModel">
                <mat-error *ngIf="userId.invalid">User userId: must be minimum 5</mat-error>
            </mat-form-field>
            <mat-form-field class="register-input-full-width">
              <input id="password" matInput placeholder="Password" type="password" [(ngModel)]="newUser.password" name="password" required
                #password="ngModel">
              <mat-error *ngIf="password.invalid">Password is mandatory</mat-error>
            </mat-form-field>
          </div>
          <mat-card-actions>
   
    

              <button class="register-user" type="submit" mat-raised-button (click)="registerUser()" color="primary" >Register</button>
              <button  type="reset" mat-raised-button  color="primary" >Clear</button>
              </mat-card-actions>
        </div>
      </form>
    </mat-card>